{
  "comments" : [
    "access_token_secret may expire."
  ],
  "auth" : {
    "consumer_key":        "<consumer_key>",
    "consumer_secret":     "<consumer_secret>",
    "access_token_key":    "<access_token_key>",
    "access_token_secret": "<access_token_secret>"
  },
  "filter" : {
    "track" : "<search - more info at https://dev.twitter.com/docs/api/1.1/post/statuses/filter#example-request>"
  }
}
